* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  padding:  24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  background: #333;
  height: 60px;
  margin-top: 24px;
}
h3 {
  color: aliceblue;
}
.points {
  display: flex;
  list-style: none;
  min-width: 600px;
}

.points li {
  margin-left: 24px;
  color: aliceblue;
}

