.label-image__container {
    position: relative;
    overflow: hidden;
    background-color: #f5f5f5;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}
.label-image__container canvas {
    position: absolute;
    cursor:move;
}

.label-image__container #img {
    position: absolute;
    right: 1000000px;
    bottom: 1000000px;
}

.label-image__container .selected {
    cursor:crosshair;
}
.label-image__container .status {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}